.design-container{
  padding-bottom: 12vh;
}

.project{
  position: relative;
  margin-left: -10vw;
  margin-right: -10vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  color: #333;
  display: flex;
  margin-bottom: 5vh;
}
.inside{
  display: flex;
  margin-left: var(--container-margin);
  margin-right: var(--container-margin);
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
.Green{
  background-color: #2F5233;
  color: #f5f5f5;
}
.Paws{
  background-color: #FFC1C4;
}
.Travel{
  background-color: #f5f5f5;
}
.content{
  width: 45%;
}
.image{
  width: 45%;
}
.image img {
  width: 90%;
}
.content h1{
  font-size: 1.5rem;
  font-weight: 700;
}
.content h3{
  font-size: 1.25rem;
  font-weight: 600;
}
.content p{
  width: 90%;
  line-height: 2rem;
  margin-bottom: 5vh;
  font-size: 1rem;
}
.content-button{
  padding: 15px 25px;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  background-color: #f5f5f5; /* Blue background */
  /* border: 5px solid transparent; */
  border: none;
  border-radius: 87px;
  cursor: pointer;
  transition: color 0.3s ease;  
  transition: background-color 0.5s ease;  
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.content-button:hover {
    /* border-color: #00D0FF;  */
    background-color: #00D0FF;
    color: #f5f5f5;
}


@media (min-width: 769px) and (max-width: 1024px){
  .design-container{
    padding-bottom: 10vh;
  }
  :root{
    --container-margin: 5%;
  }
  .project{
    margin-left: -5vw;
    margin-right: -5vw;
  }
  .content h1{
  font-size: 1.25rem;

  }
  .content h3{
    font-size: 1.1rem;

  }
  .content p{
    width: 95%;
    line-height: 1.75rem;
    font-size: 1rem;
  }
  
}
@media (max-width:768px){
  .design-container{
    padding-bottom: 5vh;
  }
  .project{
    margin-left: -5vw;
    margin-right: -5vw;
  }
  .inside{
    flex-direction: column;
  }
  .content{
    width: 100%;
  }
  .image{
    margin-top: 10%;
    width: 100%;
  }

}
