.home-container{
  padding-bottom: 15vh;
}
.quote{
  font-family: "Inknut Antiqua", serif;
  text-align: center;
  margin-bottom: 5vh;
  font-size: 1.25rem;
  font-weight: 400;
  font-style: regular;
}
.design-philosophy{
  position: relative;
  margin-left: -10vw;
  margin-right: -10vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
}
.inside{
  display: flex;
  margin-left: var(--container-margin);
  margin-right: var(--container-margin);
  justify-content: space-between;
}
.design-philosophy .content{
  width: 45%;
}
.content h1{
  font-size: 1.5rem;
  font-weight: 700;
}
.content p{
  font-size: 1.25rem;
}
.Illustrator{
  margin-top: 10vh;
  width: 50%;
  height: auto;
}
.Illustrator img{
  width: 80%;
  float: right;
}
.design-process{
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.content{
  padding-bottom: 5vh;
}

/* Project example section */
.project-example h1{
  text-align: center;  
  font-size: 1.5rem;
  font-weight: 700;
}
.process-image{
  text-align: center;
}
.process-image img{
  width: 80%;
}
.project-image{
  margin-top: 5vh;
  display: flex;
  justify-content: center; /* Centers the image horizontally */
  align-items: center;    
}
.project-image.group1{
  width: 45%;
}
.project-image.group2{
  width: 45%;
}
.group2 #right3{
  margin-bottom: 3%;
}
.group1, .group2 {
  height: 100%; 
  display: flex;
  flex-direction: column;
  gap: 15%;
  justify-content: flex-end; /* 将内容推到容器的底部 */
}
.project-image img{
  width: 95%;
}

@media (min-width: 769px) and (max-width: 1024px){
  .home-container{
    padding-bottom: 10vh;
  }
  :root{
    --container-margin: 5%;
  }
  .quote{
    font-size: 1rem;
  }
  .design-philosophy{
    margin-left: -5vw;
    margin-right: -5vw;
  }
  .content h1{
  font-size: 1.25rem;
  
  font-weight: 700;
  }
  .content p{
  font-size: 1rem;
  line-height: 1.75rem;
  }
  .design-philosophy .content{
  width: 50%;
  }
  .Illustrator{
  margin-top: 20vh;
  width: 40%;
  height: auto;
  }
  
}
@media (max-width:768px){
  .home-container{
    padding-bottom: 5vh;
  }
  .quote{
    font-size: 1rem;
  }
  .design-philosophy{
    margin-left: -5vw;
    margin-right: -5vw;
  }
  .inside{
    flex-direction: column;
  }
  .design-philosophy .content{
    width: 100%;
  }
  .content h1{
    font-size: 1.25rem;
    font-weight: 700;
  }
  .content p{
    font-size: 1rem;
    line-height: 1.75rem;
  }
  .Illustrator{
    margin-top: 3vh;
    width: 100%;
    height: auto;
  }
  .process-image img{
    width: 100%;
  }
  .project-image{
    flex-direction: column;

  }
  
}