:root {
  --container-margin: 10%;
  overflow-x: hidden;
}
body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #333;
  margin: 0;
  padding: 0;
  color: #f5f5f5;
  box-sizing: border-box;
}
#main-content{
  margin-top: 10vh;
}
/* Here is header */
#logo-top {
  margin: 20px;
  width: 90px;
  height: auto;
  transition: width 0.3s ease-in-out;
}
.container{
  margin-left: var(--container-margin);
  margin-right: var(--container-margin);
}
.Intro{
  height: 70vh;
  padding-bottom: 10vh;
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.font{
 max-width: 45%;
 color: #f5f5f5;
}
.font h1{
  font-size: 2.5rem;
}
.blue-text{
  color: #0BD2FF;
}
.cursor {
  display: inline-block;
  width: 10px;
  animation: blink 1s infinite step-end;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.font p{
  font-weight: 400;
  font-size: 1.5rem;
}
.photo{
  max-width: 50%;
}
.photo img{
  max-width: 100%;
  border-radius: 20px;
  transition: transform 0.3s ease;
}
.photo img:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}

/* Here is nav bar */
.nav{
  width: 100%;
  background-color: #333;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav-content{
  max-width: 80vw;
  margin: 0 auto;
}
.nav-bar {
  max-width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
}
.nav-bar ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.nav-bar li{
  display: inline-block;
}
.nav-bar a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.5rem;
  color: #f5f5f5;
  transition: color 1s ease, border-bottom 1s ease;
}
.nav-bar a:hover{
  color: #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}
.nav-bar a.active{
  color: #0BD2FF;
  border-bottom: 1px solid #0BD2FF;
}
.nav-bar a:active, .nav-bar a:focus {
  color: #0BD2FF;
  border-bottom: 1px solid #0BD2FF;
}
.Top-line{
  width: 100%;
}
.Bottom-line{
  width: 80%;  
}

/* Here is footer */
.footer{
  width: 100%;
  background-color: #333;
  display: flex;
  border-top:1px solid #f5f5f5a7;
  justify-content: space-between;
  padding-bottom: 10px;
}
.footer-left{
  max-width: 100px;
  height: auto;
  align-items: center;
}
.footer-left img {
  width: 100%;
  height: auto;
  
}
.footer-right{
  margin-right: 50px;
}
.email{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.email img{
  width: 30px;
  height: 30px;
}
.email p{
  font-size: 1rem;
}
.career-logo{
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}
.career-logo img{
  width: 35px;
  height: 35px;
  transition: transform 0.3s ease-in-out;
}
.career-logo img:hover {
  transform: scale(1.2);
}

 
/* Responsive design */

@media (min-width: 769px) and (max-width: 1024px){
  :root{
    --container-margin: 5%;
  }
  .font h1{
    font-size:1.75rem;
  }
  .font p{
    font-size: 1.25rem;
  }
  .nav a{
    font-size: 1.25rem;
  }
}
@media (max-width:768px){
  :root {
    --container-margin: 5%;
  }
  #logo-top {
    margin: 20px;
    width: 50px;
    height: auto;
  }
  .Intro{
    flex-direction: column;
    padding-bottom: 5vh;
  }
  .font{
    max-width: 100%;
  }
  .photo{
    max-width: 100%;
  }
  .font h1{
    font-size:1.5rem;
  }
  .font p{
    font-size: 1.25rem;
  }
  .nav a{
    font-size: 1rem;
  }
  .nav-bar{
    max-width: 100%;
    padding: 0.5rem 0;
  }
  .Bottom-line{
    width: 100%;  
  }
  #main-content{
    margin-top: 5vh;
  }
  /* Footer */
  .footer{
    align-items: center;
  }
  .footer-left{
    max-width: 50px;
  }
  .email img{
    width: 25px;
  }
  .email p{
    line-height: 0.75rem;
  }
  .footer-right{
    margin-right: 0;
  }
  
}